
[Unit]
Description=5FX_SERVER
Wants=sfx-start-jack.service
After=sfx-start-jack.service

[Service]

ExecStartPre=systemctl --user is-active sfx-start-jack.service
ExecStart=/usr/local/bin/5FX-Server --session Test --no-cli

Restart=on-failure
RestartSec=3
StartLimitInterval=30

[Install]
WantedBy=default.target
